<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SmartGUI.Properties.Settings>
            <setting name="defaultBotPath" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="firstUse" serializeAs="String">
                <value>True</value>
            </setting>
        </SmartGUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SmartGUI.Properties.Settings>
            <setting name="smptUser" serializeAs="String">
                <value>postmaster@sandbox4b9e7f5d6c714676a2b42c73e3897061.mailgun.org</value>
            </setting>
            <setting name="smptPass" serializeAs="String">
                <value>05khli43nwc1</value>
            </setting>
        </SmartGUI.Properties.Settings>
    </applicationSettings>
</configuration>